body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  /* Linear background gradient */
  background: linear-gradient(to bottom, #2980b9, #6ab1f4);
}

.stopwatch-container {
  text-align: center;
  margin-top: 50px;
}

.stopwatch-display {
  background: linear-gradient(to bottom right, #333333, #000000);
  color: white;
  padding: 20px;
  margin: 0 auto;
  font-size: 3em;
  margin-bottom: 20px;
  width: 320px; /* Adjust width and height as needed for the circular shape */
  height: 320px; /* Adjust width and height as needed for the circular shape */
  border-radius: 50%; /* Makes the element circular */
  border: 2px solid #333; /* Border color and width */
  display: flex;
  justify-content: center;
  align-items: center;
}
