body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  /* Linear background gradient */
  background: linear-gradient(to bottom, #2980b9, #6ab1f4);
}

.stopwatch-container {
  text-align: center;
  margin-top: 50px;
}

.stopwatch-display {
  background: linear-gradient(to bottom right, #333333, #000000);
  color: white;
  padding: 20px;
  margin: 0 auto;
  font-size: 3em;
  margin-bottom: 20px;
  width: 320px; /* Adjust width and height as needed for the circular shape */
  height: 320px; /* Adjust width and height as needed for the circular shape */
  border-radius: 50%; /* Makes the element circular */
  border: 2px solid #333; /* Border color and width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Green start button */
/* Green start button */
.start-button {
  background-color: #2ecc71; /* Emerald green */
  color: #fff; /* White text */
}

/* Yellowish pause button */
.pause-button {
  background-color: #f39c12; /* Orange */
  color: #fff; /* White text */
}

/* Red reset button */
.reset-button {
  background-color: #e74c3c; /* Alizarin red */
  color: #fff; /* White text */
}

/* Blue lap button */
.lap-button {
  background-color: #3498db; /* Dodger blue */
  color: #fff; /* White text */
}
