body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #2980b9, #6ab1f4);
}

.stopwatch-container {
  text-align: center;
  margin-top: 50px;
}

.stopwatch-display {
  background: linear-gradient(to bottom right, #333333, #000000);
  color: white;
  padding: 20px;
  margin: 0 auto;
  font-size: 3em;
  margin-bottom: 20px;
  width: 320px;
  height: 320px; 
  border-radius: 50%;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    outline: none; 
  }
  
  .start-button {
    background-color: #27ae60; 
  }
  
  .pause-button {
    background-color: #e67e22; 
  }
  
  .reset-button {
    background-color: #c0392b; 
  }
  
  .lap-button {
    background-color: #2980b9; 
  }
  
  .button:hover {
    opacity: 0.8; 
  }
  


.laps-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  overflow-y: auto; 
  max-height: 200px; 
  color: white;
}

.lap-item {
  padding: 10px;
  background: linear-gradient(to bottom right, #333333, #000000);
  border-bottom: 1px solid #ddd; 
  transition: background-color 0.3s ease; 

}
.lap-item:last-child {
  border-bottom: none; */
}

.lap-item:hover {
  background: linear-gradient(to bottom right, #333333, #000000);
}
